@keyframes fade-in-left-fast {
    0% {
        opacity: 0;
        transform: translateX(-5px);
    }    
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in-left-fast {
    animation: 0.4s ease-in 0s 1 fade-in-left-fast;
}

@keyframes button-down {
    0% {
        transform: translate(0px, 0px);
    }    
    100% {
        transform: translate(1.5px, 1.5px);
    }
}

.button-down {
    animation: 0.08s ease-in 0s 1 button-down;
    animation-fill-mode: forwards;
}

@keyframes button-up {
    0% {
        transform: translate(1.5px, 1.5px);
    }    
    100% {
        transform: translate(0px, 0px);
    }
}

.button-up {
    animation: 0.08s ease-in 0s 1 button-up;
    animation-fill-mode: forwards;
}

.blink-cursor {
    animation: blink-cursor .75s step-end infinite;
    border-right: 2px solid rgb(246, 177, 50);
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: rgb(246, 177, 50); }
}





